.sticky {
-webkit-box-shadow: #DDD 1px 2px 3px;
position: relative;
background-color: #0aaddb;
border-color: #030301;
text-align: left;
margin: 2.5em 0px;
padding: 1.5em 1em;
-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
font-family: Chalkboard, 'Comic Sans';
}
