<!doctype html>
<head>
  <title>CRUD example</title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  {% for message in get_flashed_messages() %}
  <p class=flash>{{ message }}</p>
  {% endfor %}
  {% block content %}
  {% endblock content %}
</body>
</html>
