{% extends "base.html" %}
{% block content %}
<h1>CRUD demo in Flask </h1>
<p>Just a simple demo, where you can <a href="{{ url_for('create') }}">create</a>, read, update and delete.
Thats all!</p>

{% for note in notes %}
<div class="sticky">
<b> {{ note.title }} </b>
<p>{{ note.author }}</p>
<p>{{ note.description }}</p>
<a href="{{ url_for('edit', note_id=note.id) }}">Edit</a>
<a href="{{ url_for('delete', note_id=note.id) }}">Delete</a>
</div>
{% endfor %}
{% endblock content %}
